:root.light {
  --navbar-brand: rgb(253, 53, 53);
  // --navbar-color: rgb(236, 235, 235);
  // --navbar-color: rgb(214, 214, 214);
  // --navbar-color: rgb(27, 40, 233);
  --navbar-color: rgb(223, 9, 9);
  // --navbar-color: rgb(238, 232, 232);
  --navbar-color-a: rgba(51, 51, 51, 0.6);
  // --navbar-color-a-02: rgba(27, 40, 233, 0.45);
  --navbar-color-a-02: rgba(233, 9, 9, 0.75);
  // --navbar-text: rgb(65, 65, 65);
  --navbar-text: rgb(221, 221, 221);
  --navbar-title: rgb(221, 221, 221);
  // --navbar-title: rgb(243, 243, 243);
  --navbar-text-hover: rgb(221, 171, 8);
  // --bg-primary: rgb(214, 214, 214);
  --bg-primary: rgb(224, 224, 224);
  --bg-panel: rgb(240, 240, 240);
  --bg-panel-hover: rgb(205, 206, 236);
  --bg-panel-02: rgb(212, 212, 212);
  --hero-color-a: rgba(51, 51, 51, 0.6);
  --hero-text: rgb(221, 221, 221);
  --input-border-neutral: rgb(19, 202, 226);
  --input-border-hover: rgb(101, 101, 101);
  --input-border-focused: rgb(101, 101, 101);
  --overlay-text: rgb(252, 252, 252);
  --color-child-item: rgb(211, 211, 211);
  --color-logo: rgb(0, 0, 0);
  --color-tagbox: rgb(51, 51, 51);
  --color-text: rgb(56, 56, 56);
  --color-link: rgb(252, 53, 53);
  --color-header: rgb(0, 119, 255);
  --color-header-bar: rgb(56, 54, 54);
  --color-form-label: rgb(10, 9, 9);
  --color-description: rgba(51, 51, 51, 0.7);
  --color-btn-border: rgb(44, 53, 233);
  --color-btn-border-danger: rgb(250, 53, 53);
  --color-btn: rgb(77, 86, 253);
  --color-btn-primary: rgb(193, 195, 219);
  --color-btn-text: rgb(51, 51, 51);
  --color-btn-text-hover: rgb(124, 116, 116);
  --color-btn-hover: rgb(216, 216, 216);
  --color-btn-secondary-hover: rgb(151, 150, 150);
  --footer-bg-color-a: rgb(235, 235, 235, 1);
  --light-disabled-color: #6c757d;
  --alert-neutral: #f4f4f4;
  --alert-danger: #dc3545;
  --alert-success: #28a745;
  // --danger-color: #dc3545;
  --danger-color: rgb(202, 0, 0);
}

:root.dark {
  --navbar-brand: rgb(253, 53, 53);
  --navbar-color: rgb(223, 9, 9);
  // --navbar-color: rgb(185, 6, 6);
  // --navbar-color: rgba(51, 51, 51, 1);
  --navbar-color-a: rgba(51, 51, 51, 0.6);
  --navbar-color-a-02: rgba(233, 9, 9, 0.75);
  --navbar-text: rgb(221, 221, 221);
  --navbar-title: rgb(221, 221, 221);
  // --navbar-title: rgb(243, 243, 243);
  --navbar-text-hover: rgb(243, 247, 16);
  --bg-primary: rgb(66, 61, 61);
  --bg-panel: rgb(54, 54, 54);
  --bg-panel-hover: rgb(200, 185, 255);
  // --bg-panel-02: rgb(102, 102, 102);
  --bg-panel-02: rgb(37, 37, 37);
  --hero-color-a: rgba(51, 51, 51, 0.6);
  --hero-text: rgb(221, 221, 221);
  --input-border-neutral: rgb(130, 234, 248);
  --input-border-hover: rgb(202, 230, 247);
  // --input-border-focused: rgb(130, 234, 248);
  --input-border-focused: rgb(65, 182, 250);
  // --input-border-focused: rgb(26, 169, 252);
  --overlay-text: rgb(252, 252, 252);
  --color-child-item: rgb(134, 134, 134);
  --color-logo: rgb(0, 0, 0);
  // --color-navbar: rgb(51, 51, 51);
  // --color-link: rgb(198, 198, 198);
  --color-tagbox: rgb(181, 181, 181);
  --color-text: rgb(221, 221, 221);
  --color-link: rgb(252, 53, 53);
  // --color-navbar: rgb(100, 100, 100);
  --color-header: rgb(54, 132, 255);
  --color-header-bar: rgb(56, 54, 54);
  --color-form-label: rgb(181, 181, 181);
  --color-description: rgba(51, 51, 51, 0.7);
  --color-btn-border: rgb(44, 53, 233);
  --color-btn-border-danger: rgb(250, 53, 53);
  --color-btn: rgb(44, 55, 233);
  --color-btn-primary: rgb(44, 55, 233);
  // --color-btn-primary: rgb(44, 55, 233);
  --color-btn-text: rgb(245, 238, 238);
  --color-btn-text-hover: rgb(51, 51, 51);
  --color-btn-hover: rgb(216, 216, 216);
  --color-btn-secondary-hover: rgb(141, 141, 141);
  --footer-bg-color-a: rgb(134, 134, 134);
  --dark-disabled-color: #4a4a4b;
  --alert-neutral: #f4f4f4;
  --alert-danger: #dc3545;
  --alert-success: #28a745;
  --danger-color: #dc3545;
}



// --section-card-bg: ;


// --main-bg: rgba(252, 252, 252);
// --main-bg-a: rgba(252, 252, 252, 0.90);
// --navbar-color: rgb(235, 235, 235);
// --navbar-color-a: rgba(235, 235, 235, 0.65);
// --navbar-color: rgb(214, 214, 214);
// --navbar-color-a: rgba(214, 214, 214, 0.65);
// --navbar-color-border: rgb(214, 214, 214);
// --navbar-btn-a: rgba(214, 214, 214, 0.65);
// --navbar-btn-icon: rgb(45, 45, 45);
// --navbar-btn-border: rgb(214, 214, 214);
// --navbar-btn-border-a: rgb(214, 214, 214, 0.65);
// --color-logo:rgb(51, 51, 51);
// --color-heading: rgb(0, 119, 255);
// --color-text-light:#B5B5B5;
// --color-text-dark:#333333;
// --color-border: #bbbbbb;
// --li-hover-color: rgb(212, 211, 211);
// --li-border:rgb(51, 51, 51);

// --section-particle-mask-a: linear-gradient(to bottom, transparent 60%, black 75%);
// --section-particles-mask-a: linear-gradient(to top, transparent 60%, black 100%);
// --section-bg-color-a: rgba(235, 235, 235, 0);
// --section-card-bg-a: rgba(235, 235, 235, 0);
// --section-card-bg-tech-a: rgba(235, 235, 235, 1);
// --section-card-tech-border-a: 0px solid rgba(10, 9, 9, 0);
// --section-product-card-border-a: initial;
// --section-product-info-bg-a: rgba(235, 235, 235, 1);
// --section-product-info-border-a: initial;
// }
/*
:root.dark-winter {
  --main-bg: rgb(10, 9, 9);
  --main-bg-a: rgb(10, 9, 9, 0.75);
  --navbar-color: rgb(10, 9, 9);
  --navbar-color-a: rgba(10, 9, 9, 0.75);
  --navbar-color-border: #2de9f5;
  --navbar-btn-a: rgba(45, 233, 245, 1);
  --navbar-btn-icon:rgb(10, 9, 9);
  --navbar-btn-border: rgb(45, 233, 245);
  --navbar-btn-border-a: rgb(45, 233, 245, 1);
  --color-logo: rgb(45, 233, 245);
  --color-heading: rgb(45, 233, 245);
  --color-text:#B5B5B5;
  --color-border: rgb(45, 233, 245);
  --li-hover-color: rgb(45, 233, 245);
  --li-border:rgb(45, 233, 245);
  --footer-bg-color-a:rgb(10, 9, 9, 1);
  --section-particles-mask-a: initial;
  --section-bg-color-a: rgba(10, 9, 9, 0);
  --section-card-bg-a: rgba(10, 9, 9, 0);
  --section-card-bg-tech-a: rgba(10, 9, 9, 0);
  --section-card-tech-border-a: 1px solid rgba(45, 233, 245, 1);
  --section-product-card-border-a: 1px solid rgba(45, 233, 245, 1);
  --section-product-info-bg-a: rgba(45, 233, 245, 0);
  --section-product-info-border-a: 0px solid rgba(45, 233, 245, 0);
}
:root.dark-summer {
  --main-bg: rgb(51, 51, 51);
  --main-bg-a: rgb(51, 51, 51, 0.75);
  --color-navbar: rgb(51, 51, 51);
  --navbar-color-a: rgba(51, 51, 51, 0.75);
  --navbar-color-border: rgb(255, 164, 0);
  --navbar-btn-a: rgba(255, 164, 0, 1);
  --navbar-btn-icon:rgb(45, 45, 45);
  --navbar-btn-border: rgb(255, 164, 0);
  --navbar-btn-border-a: rgb(255, 164, 0, 1);
  --color-logo: rgb(255, 164, 0);
  // --color-heading: #3684FF;
  --color-heading: rgb(255, 164, 0);
  --color-text:#B5B5B5;
  --color-border: rgb(255, 164, 0);
  --li-hover-color: rgb(255, 164, 0);
  --li-border:rgb(255, 164, 0);
  --footer-bg-color-a: rgb(67, 67, 67, 1);
  --section-particles-mask-a: initial;
  --section-bg-color-a: rgba(67, 67, 67, 1);
  --section-card-bg-a: rgba(67, 67, 67, 1);
  --section-card-bg-tech-a: rgba(67, 67, 67, 1);
  --section-card-tech-border-a: 0px solid rgba(255, 164, 0, 0);
  --section-product-card-border-a: 1px solid rgba(255, 164, 0, 1);
  --section-product-info-bg-a: rgba(235, 235, 235, 0);
  --section-product-info-border-a: initial;
}
*/

/*
// :root.light {
.theme-light {
  // navbar, links
  --color-logo: rgb(245, 238, 238);
  --color-icon: rgb(67, 67, 67);
  --color-text: rgb(67, 67, 67);
  --color-text-hover: rgb(67, 67, 67);
  --color-link: rgb(80, 102, 144);
  --color-navbar-text: rgb(67, 67, 67);
  --color-navbar: rgb(197, 197, 214);
  --color-navbar-a: rgba(211, 214, 222, 1);

  // Buttons
  --proj-svg-link: rgb(222, 225, 238);
  --proj-svg-link-hover: rgb(255, 255, 255);
  --primary-btn-bg: rgb(22, 28, 45);
  --secondary-btn-bg: #c56a2d;
  --tetiary-btn-bg: #2b50c7;
  --color-btn-text: rgb(245, 238, 238);
  --color-btn-text-hover: rgb(175, 150, 250);
  --color-btn-hover: rgb(255, 249, 249);

  // Primary Backgrounds
  --primary-color: rgb(234, 51, 51);
  --secondary-color: rgb(234, 176, 51);
  --primary-color-a: rgba(234, 51, 51, 0.8);
  --primary-color-a-6: rgba(234, 51, 51, 0.6);
  --primary-color-a-4: rgba(234, 51, 51, 0.4);
  --primary-color-a-2: rgba(234, 51, 51, 0.2);
  --secondary-color-a: rgba(234, 176, 51, 0.8);
  --secondary-color-a-6: rgba(234, 176, 51, 0.6);
  --secondary-color-a-4: rgba(234, 176, 51, 0.4);
  --sedcondary-color-a-2: rgba(234, 176, 51, 0.2);
  --bg-primary: rgb(222, 225, 238);
  --bg-secondary: rgba(231, 231, 231, 0.259);
  --bg-quatenary: rgb(255, 255, 255);
  --bg-panel: rgb(197, 197, 214);
  --skill-icon-box: rgb(234, 51, 51);
  --skill-icon-box-a: rgba(234, 51, 51, 0.12);
  --skill-icon-box-border-a: rgba(234, 51, 51, 0.12);
  --icon-name-a: rgba(255, 48, 0, 0.12);
}

.theme-sky {
  // navbar, links
  --color-logo: rgb(245, 238, 238);
  --color-icon: rgb(67, 67, 67);
  --color-text: rgb(67, 67, 67);
  --color-text-hover: rgb(67, 67, 67);
  --color-link: rgb(80, 102, 144);
  --color-navbar-text: rgb(67, 67, 67);
  --color-navbar: rgb(197, 197, 214);
  --color-navbar-a: rgb(176, 230, 225);

  // Buttons
  --proj-svg-link: rgb(204, 243, 240);
  --proj-svg-link-hover: rgb(243, 235, 235);
  --primary-btn-bg: rgb(22, 28, 45);
  --secondary-btn-bg: #c56a2d;
  --tetiary-btn-bg: #2b50c7;
  --color-btn-text: rgb(245, 238, 238);
  --color-btn-text-hover: rgb(175, 150, 250);
  --color-btn-hover: rgb(255, 249, 249);

  // Primary Backgrounds
  --primary-color: rgb(53, 224, 181);
  --secondary-color: rgb(51, 94, 234);
  --primary-color-a: rgba(53, 224, 124, 0.8);
  --primary-color-a-6: rgba(53, 224, 124, 0.6);
  --primary-color-a-4: rgba(53, 224, 124, 0.4);
  --primary-color-a-2: rgba(53, 224, 124, 0.2);
  --secondary-color-a: rgba(51, 94, 234, 0.8);
  --secondary-color-a-6: rgba(51, 94, 234, 0.6);
  --secondary-color-a-4: rgba(51, 94, 234, 0.4);
  --sedcondary-color-a-2: rgba(51, 94, 234, 0.2);
  --bg-primary: rgb(204, 243, 240);
  --bg-secondary: rgba(231, 231, 231, 0.259);
  --bg-quatenary: rgb(255, 255, 255);
  --bg-panel: rgb(204, 197, 214);
  --skill-icon-box: rgb(53, 224, 181);
  // --skill-icon-box-a: rgba(53, 224, 181, 0.07);
  // --skill-icon-box-a: rgba(41, 197, 158, 0.062);
  --skill-icon-box-a: rgba(255, 255, 255, 0.58);
  --skill-icon-box-border-a: rgba(53, 224, 181, 0.45);
  --icon-name-a: rgba(53, 224, 181, 0.33);
}

.theme-dark {
  // navbar, links
  --color-logo: rgb(245, 238, 238);
  --color-icon: rgb(181, 181, 181);
  --color-text: rgb(181, 181, 181);
  --color-text-hover: rgb(181, 181, 181);
  --color-link: rgb(80, 102, 144);
  --color-navbar-text: rgb(181, 181, 181);
  --color-navbar: rgb(67, 67, 67);
  --color-navbar-a: rgba(2, 29, 53, 1);

  // Buttons
  // --proj-svg-link: rgb(181, 181, 181);
  --proj-svg-link: rgb(3, 39, 70);
  --proj-svg-link-hover: rgb(238, 226, 226);
  --primary-btn-bg: rgb(22, 28, 45);
  --secondary-btn-bg: #c56a2d;
  --tetiary-btn-bg: #2b50c7;
  --color-btn-text: rgb(245, 238, 238);
  --color-btn-text-hover: rgb(175, 150, 250);
  --color-btn-hover: rgb(255, 249, 249);

  // Primary Backgrounds
  --primary-color: rgb(161, 51, 234);
  --secondary-color: rgb(51, 94, 234);
  --primary-color-a: rgba(161, 51, 234, 0.8);
  --primary-color-a-6: rgba(161, 51, 234, 0.6);
  --primary-color-a-4: rgba(161, 51, 234, 0.4);
  --primary-color-a-2: rgba(161, 51, 234, 0.2);
  --secondary-color-a: rgba(51, 94, 234, 0.8);
  --secondary-color-a-6: rgba(51, 94, 234, 0.6);
  --secondary-color-a-4: rgba(51, 94, 234, 0.4);
  --sedcondary-color-a-2: rgba(51, 94, 234, 0.2);
  --bg-primary: rgb(3, 39, 70);
  --bg-secondary: rgba(231, 231, 231, 0.259);
  --bg-quatenary: rgb(255, 255, 255);
  --bg-panel: rgb(67, 67, 67);
  --skill-icon-box: rgb(161, 51, 234);
  --skill-icon-box-a: rgba(161, 51, 234, 0.22);
  --skill-icon-box-border-a: rgba(161, 51, 234, 0.6);
  --icon-name-a: rgba(161, 51, 234, 0.24);
  // --icon-name-a: rgba(199, 103, 255, 0.24);
  --icon-name-a: rgba(189, 74, 255, 0.212);
}

.theme-midnight {
  // navbar, links
  --color-logo: rgb(245, 238, 238);
  --color-icon: rgb(181, 181, 181);
  --color-text: rgb(181, 181, 181);
  --color-text-hover: rgb(181, 181, 181);
  --color-link: rgb(80, 102, 144);
  --color-navbar-text: rgb(181, 181, 181);
  --color-navbar: rgb(67, 67, 67);
  --color-navbar-a: rgba(2, 29, 53, 1);

  // Buttons
  --proj-svg-link: rgb(3, 39, 70);
  --proj-svg-link-hover: rgb(238, 226, 226);
  --primary-btn-bg: rgb(22, 28, 45);
  --secondary-btn-bg: #c56a2d;
  --tetiary-btn-bg: #2b50c7;
  --color-btn-text: rgb(245, 238, 238);
  --color-btn-text-hover: rgb(175, 150, 250);
  --color-btn-hover: rgb(255, 249, 249);

  // Primary Backgrounds
  // --primary-color: rgb(51, 234, 164);
  // --primary-color: rgb(68, 231, 169);
  // --primary-color: rgb(53, 224, 124);
  --primary-color: rgb(53, 224, 181);
  --secondary-color: rgb(51, 94, 234);
  --primary-color-a: rgba(53, 224, 124, 0.8);
  --primary-color-a-6: rgba(53, 224, 124, 0.6);
  --primary-color-a-4: rgba(53, 224, 124, 0.4);
  --primary-color-a-2: rgba(53, 224, 124, 0.2);
  --secondary-color-a: rgba(51, 94, 234, 0.8);
  --secondary-color-a-6: rgba(51, 94, 234, 0.6);
  --secondary-color-a-4: rgba(51, 94, 234, 0.4);
  --sedcondary-color-a-2: rgba(51, 94, 234, 0.2);
  --bg-primary: rgb(3, 39, 70);
  --bg-secondary: rgba(231, 231, 231, 0.259);
  --bg-quatenary: rgb(255, 255, 255);
  --bg-panel: rgb(67, 67, 67);
  --skill-icon-box: rgb(53, 224, 181);
  --skill-icon-box-a: rgba(53, 224, 181, 0.14);
  --skill-icon-box-border-a: rgba(53, 224, 181, 0.5);
  --icon-name-a: rgba(53, 224, 181, 0.23);
}
*/